<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE的初體驗</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
 <style>
     .bg1{
         background-color: turquoise;
     }
     .bg2{
        background-color: lightgreen;
     }
 </style>
</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>

    <div><label for="">
    <div>我的名字：jquery</div>
    </div>
        <input type="text" name="myname" id="myname" value="mack"></label>
    <h1 id="text">mack</h1>
    <hr>
    <div id="app">
        <div><label for="">
        <div>我的名字：vue</div>
        </div>
            <input type="text" name="myname"  v-model="truename"></label>
        <h1>{{ truename }}</h1>

        <h1>{{ message }}</h1>    
        <h3>{{ hi  }}</h3>
        <button @click="plus">{{ count }}</button>
        <div v-for="name,id in names" :key="id">
            <li :class="bg" @mouseover="changeBG" @mouseout="defaultBG">{{id}}.{{ name }}</li></div>
    </div>

    <script>
        $("#myname").on("input",()=>{
            let name=$('#myname').val()
            $("#text").text(name)
        })

    const settings={
        data() {
        
            let message='祝福前端班今天開班順利';
            let hi='hi!'+message;
            let names = ["小西", "小東", "小南", "小北", "一一",
                    "二二", "三三", "四四", "五五",
                    "六六", "七七", "八八", "九九", "十十",
                    "花花", "狗狗", "貓貓", "熊熊",
                    "兔兔", "車車", "草草", "嘿嘿"
                ];
            let count=0;
            let bg='bg1';
            let truename="mack"
          return {
            message,hi,names,count,bg,truename
          }
        },
        methods:{
            add(){
                this.count=this.count+1;
            },
            plus(){
                this.count=(this.count+1)*(this.count+1)                
            },
            changeBG(){
                this.bg='bg2';
            },
            defaultBG(){
                this.bg='bg1';
            }
        }

      }


      Vue.createApp(settings).mount('#app')

    </script>    
</body>
</html>